{% set title = "Live Demo" %}

{% set description = "Live Demo of ColdStack: world's first aggregator for Decentralized Storage Networks such as
Filecoin." %}

{% set urlPage = "demo" %}

{% set state = "demo" %}

{% extends "template/base.html" %}

{% block content %}

<article class="center demo">

    <div class="demo__content">

        <h1 class="h2">
            {{ title }}
        </h1>

        <p>
            This is a Live Demo showcasing the essential features of the ColdStack Storage Service. Your wallet MUST be
            unlocked before uploading any files. Please note that the demo works on the <b>RINKEBY TESTNET</b>, and you
            must set your wallet to this network accordingly.
        </p>

        <p>
            Upon unlocking your wallet, you will receive 1.00 testnet $CLS token for the demo. The service will charge
            you this testnet token, and then you can upload and download any files, and browse storage transactions.
        </p>

        <p>
            Please note our demo only supports files up to 3GB in size. You can only download files you have uploaded
            earlier. Access permissions and file sharing are disabled in demo mode.
        </p>

        <p>
            Please feel free to contact us if you have any questions, and check out our step-by-step guide on Medium:
            <a href="https://medium.com/coldstack/coldstack-live-demo-what-you-can-do-right-now-bfbb94a1bcd0"
                target="_blank">
                https://medium.com/coldstack/coldstack-live-demo-what-you-can-do-right-now-bfbb94a1bcd0
            </a>
        </p>

    </div>

    <form action="/" class="demo-form">

        <label class="demo-form__drop">

            <input type="file" class="demo-form__drop-input" id='file-input'>

            <span class="demo-form__drop-wrap" id='drop-area'>

                <span class="demo-form__drop-ico">

                    <svg width="72" height="72" viewBox="0 0 72 72">
                        <path
                            d="M26.36 53l-3.38-3.2L36.5 35.6l13.53 14.2L46.7 53l-6.96-7.35-.87-.91V62.5h-4.62V44.74l-.86.9-7.03 7.35zm6.26-35.92l.13.3H67V62.5H47.75v-4.63h14.63V22h-32.6l-2.43-5.33-.14-.3H10.75v41.5h14.63v4.63H6.13V11.75h24.06l2.43 5.33z"
                            fill="#342BDB" stroke="#F5F5FC" />
                    </svg>

                </span>

                <span class="demo-form__drop-text">
                    Drag&amp;Drop files here, or <b>Browse Files</b>
                </span>

            </span>

            <span class="demo-form__drop-uploading">

                <span class="demo-form__drop-uploading-head">
                    Uploading
                </span>

                <span class="demo-form__drop-uploading-progress">

                    <span id='progress-bar' class="demo-form__drop-uploading-progress-bar" style="width: 0%"></span>

                </span>

                <span id=timer class="demo-form__drop-uploading-timer">
                </span>

            </span>

        </label>

        <h2 class="demo-form__head">
            Files
        </h2>

        {% include "demo/table.html" %}

    </form>

</article>

{% endblock %}