.backed-by {
    text-align: center;
    padding: 36px 0;

    .incubated-by {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f4f6fd;
        border-radius: 12px;
        padding: 49px 24px;

        &__separate {
            display: block;
            background: var(--border);
            margin: 0 35px;
            width: 1px;
            height: 74px;

            @media ($smWidth) {
                display: none;
            }
        }

        &__image {
            max-width: 100%;

            @media ($smWidth) {
                margin: 18px auto 0;
            }
        }

        @media ($smWidth) {
            display: block;
        }
    }
}