.cases {

	padding: 60px 0;
	text-align: center;

	@media ($smWidth) {

		padding-bottom: 16px;

	}

	&__title {

		margin-bottom: 72px;

		@media ($smWidth) {

			margin-bottom: 28px;

		}

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: -24px;
        margin-bottom: 96px;

	}

	&__item {

		padding: 24px;
        width: 50%;

        @media ($smWidth) {

			width: 100%;

		}

        &-number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background: #f4f6fd;
            margin: 0 auto;
            font-weight: 600;
            font-size: 24px;
            color: var(--blue);
            margin-bottom: 26px;
        }

        h4 {
            margin-bottom: 12px;
            font-weight: 400;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            color: var(--text);
        }

	}

}