.cloud-space {

    min-height: 70vh;
    padding: 180px 0 120px;
    display: flex;
    align-items: center;
    background-image: url("../img/cloud-space/planets.svg"), linear-gradient(180deg, #f4f6fd 0%, rgba(244, 246, 253, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    @media ($mdWidth) {
        padding: 80px 0;
    }

    &__content {
        text-align: center;
    }

    p {

        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        margin: 24px auto 60px;
        max-width: 825px;

        @media ($mdWidth) {

            font-size: 20px;
            line-height: 30px;
            margin: 18px 0 30px;

        }

    }

    &__btns {

        display: flex;
        justify-content: center;

        .btn {

            margin-right: 24px;

        }

        @media ($smWidth) {

            justify-content: center;
            margin: 0 -10px;

            .btn {

                margin: 0 10px;

            }

        }

    }

}