.decentralized {

    text-align: center;
    background-color: #f4f6fd;
    padding: 96px 0;

    @media ($mdWidth) {

        padding: 48px 0;

    }

    &__logo {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 36px 0;

        a {

            margin: 18px 66px;

            @media ($mdWidth) {

                margin: 14px 33px;

            }

            @media ($smWidth) {

                margin: 12px 18px;

            }

        }

        @media ($smWidth) {

            margin: 26px 0 34px;

        }

    }

    p {

        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        width: 680px;
        max-width: 100%;
        margin: auto;

        @media ($mdWidth) {

            font-size: 20px;
            line-height: 30px;

        }

    }

}