.decentralized {

    text-align: center;
    background-color: #f4f6fd;
    padding: 96px 0;

    @media ($mdWidth) {

        padding: 48px 0;

    }

    &__logo {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 36px -36px;

        img {

            margin: 12px 42px;

        }

        @media ($mdWidth) {

            margin: 24px -24px;

            img {

                margin: 12px 24px;

            }

        }

        @media ($mdWidth) {

            margin: 26px -14px 34px;

            img {

                width: auto;
                height: 36px;
                margin: 14px;

            }

        }

        @media ($xsWidth) {

            margin: 26px -10px 34px;

        }

    }

    p {

        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        width: 680px;
        max-width: 100%;
        margin: auto;

        @media ($mdWidth) {

            font-size: 20px;
            line-height: 30px;

        }

    }

}