{% set title = "ColdStack: Decentralized Cloud Aggregator" %}

{% set description = "ColdStack is the world's first aggregator for Decentralized Storage Networks such as Filecoin." %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/cloud-space.html" %}
{% include "main/decentralized.html" %}
{% include "main/about.html" %}
{% include "main/how-works.html" %}
{% include "main/why.html" %}
{% include "main/cases.html" %}
{% include "main/road-map.html" %}
{% include "main/team.html" %}
{% include "main/backed-by.html" %}

{% endblock %}
